body {
  background-color: lightblue;
  margin-left: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: red;
}

li {
  color: red;
  margin-left: 60px;
  margin-bottom: 12px;
}

footer {
  text-align: center;
}

.year {
  margin-left: 50px;
  color: red;
}

.lines {
  height: 2px;
  width: 90%;
  border-width: 0;
  color: black;
  background-color: black;
}